<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../public/CSS/style.css">
  </head>
  <body>
    <h2>Registering a Sales Agent for COVIDSTORES</h2>
    <div class="">
      <form class="" action="index.html" method="post">

        <div class='form-row'>
            <label for='full-name'>Name</label>
            <input id='full-name' name='full-name' type='text'/>
        </div>

        <div class='form-row'>
            <label for='email'>Email</label>
            <input id='email' name='email' type='email' placeholder='name@example.com'/>
        </div>

        <div class="form-row">
          <label for="NIN">NINumber</label>
          <input type="text" name="NIN" value="NIN">
        </div>

        <div class="form-row">
          <label for="empID">Employee ID</label>
          <input type="text" name="empID" value="empID">
        </div>

        <fieldset class='legacy-form-row'>
              <legend>Gender</legend>
              <input id='male' name='male'
                  type='radio' value='male' />
              <label for='male' class='radio-label'>Male</label>
              <br>
              <input id='female'
                  name='female' type='radio' value='female' />
              <label for='female' class='radio-label'>Female</label>
        </fieldset>

        <div class='form-row'>
            <button>Submit</button>
        </div>

      </form>
    </div>

  </body>
</html>
