doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='/CSS/style.css')
section.categories
  .category-item(style="background-image: url('/images/Categories/home/furniture.jpg');")
    .category-item-inner
      div
        | Furniture
  .category-item(style="background-image: url('images/fitness.jpg');")
    .category-item-inner
      div
        | Fitness
  .category-item(style="background-image: url('images/hometheater.jpg');")
    .category-item-inner
      div
        | Home Theatre
  .category-item(style="background-image: url('images/machinery.jpg');")
    .category-item-inner
      div
        | Machinery
  .category-item(style="background-image: url('images/tvsets.jpg');")
    .category-item-inner
      div
        | TV sets
  .category-item(style="background-image: url('images/more.svg');")
    .category-item-inner
      div
        | More
h2.featured-products-title Featured Products
section.featured-products
  .featured-product-item
    .featured-product-item-image(style="background-image:url('image/');")
    p.title
      | chair
    p.description
      | wodden in size
    p.price
      | shs. 10000
    button
      | View item
  .featured-product-item
    .featured-product-item-image(style="background-image:url('image/');")
    p.title
      | chair
    p.description
      | wodden in size
    p.price
      | shs. 10000
    button
      | View item
  .featured-product-item
    .featured-product-item-image(style="background-image:url('image/');")
    p.title
      | chair
    p.description
      | wodden in size
    p.price
      | shs. 10000
    button
      | View item
  .featured-product-item
    .featured-product-item-image(style="background-image:url('image/');")
    p.title
      | chair
    p.description
      | wodden in size
    p.price
      | shs. 10000
    button
      | View item
  .featured-product-item
    .featured-product-item-image(style="background-image:url('image/');")
    p.title
      | chair
    p.description
      | wodden in size
    p.price
      | shs. 10000
    button
      | View item
  .featured-product-item(style="background-image: url('image/');")
    .featured-product-item-image
    p.title
      | chair
    p.description
      | wodden in size
    p.price
      | shs. 10000
    button
      | View item
