extents layout

.header
  h1 COVID STORES
  h2 Lets improve your livelihood
.categories
  ul
    li Furniture
    li Fitness Kits
    li Machinery
    li TV sets
    li Home Theatres
    li More
footer
  | Register
