doctype html
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVID STORES</title>

    <!-- linking styles -->
    <link rel="stylesheet" type="text/css" href="style.css">

    <!-- linking scripts -->


</head>
<body>
  <div class="header">
    <h1>COVID STORES</h1>
    <h2>Lets improve your livelihood</h2>

  </div>

  <div class="categories">
    <ul>
      <li>Furniture</li>
      <li>Fitness Kits</li>
      <li>Machinery</li>
      <li>TV sets</li>
      <li>Home Theatres</li>
      <li>More</li>
    </ul>

  </div>
  <footer>
    Register
  </footer>

</body>
</html>
