<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Online Store for furniture, fitness kits machinery, TV sets, home theaters etc.</title>
    <link rel = "icon" href = "https://img.icons8.com/color/48/000000/shopping-cart.png" type = "image/x-icon">
    <link rel="stylesheet" href="/CSS/navfooter.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  </head>
  <body>
      <nav>
        <ul class="nav">
          <div class="logo">
              <li><a href="home.html"><i class='fas fa-shopping-cart' style='font-size:24px'></i> COVID<em>STORES</em></a></li>
          </div>

          <div class="search">
            <li>
              <form class="example" action="/action_page.php">
                <input type="text" placeholder="Search for item" name="search" style="border: 1px solid black; border-radius: 3px;" >
                <button type="submit" style="border: 1px solid black; border-radius: 3px; "><i class="fa fa-search"></i></button>
              </form>
            </li>
          </div>
          <div class="help">
              <li class="item"><a href="#">help</a></li>
          </div>
          <div class="cart">
              <li class="item"><a href="#">Cart</a></li>
          </div>
          <div class="member">
            <li class="item has-submenu">
              <a tabindex="0">Mgt</a>
                <ul class="submenu">
                  <li class="item button"><a href="#">Sales Agent</a></li>
                  <li class="item button secondary"><a href="#">Manager</a></li>
                </ul>
            </li>
          </div>

        </ul>


      </nav>


    <footer>
      <div class='footer'>
        <div class='footer-item footer-one'>
          <div class="social">
              Follow us:
              <img src="/images/social-icons.svg" alt="social">
          </div>
        </div>
        <div class='footer-item footer-two'></div>
        <div class='footer-item footer-three'>
          <div class="subscribe">
            Subscribe &#9662;
          </div>
        </div>
      </div>
      <div class="copyright">
        &copy; Niwagaba Rogers. All rights reserved.

      </div>
    </footer>

  </body>
</html>
