<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login page</title>
    <link rel="stylesheet" href="/CSS/style.css">
  </head>
  <body>
    <div class="form-container">
      <div class="manager-form">
        <fieldset>
          <legend><h3>Log in as a <em>Store Manager</em></h3></legend>
          <form class="admin" action="index.html" method="post">
            <div class="row">
              <label for="email">Email : </label>
              <input type="email" name="email" placeholder="Email" style="border-radius: 3px;">
            </div>

            <div class="row">
              <label for="password">Password : </label>
              <input type="password" placeholder="Password" name="password" style="border-radius: 3px;">
            </div>

            <div class="row">
                <button type="button" name="button">LOGIN</button>
            </div>
          </form>
        </fieldset>
      </div>

      <div class="agent-form">
        <fieldset>
          <legend><h3>Log in as a <em>Sales Agent</em></h3></legend>
          <form class="admin" action="index.html" method="post">
            <div class="row">
              <label for="email">Email : </label>
              <input type="email" name="email" placeholder="Email" style="border-radius: 3px;">
            </div>
            <div class="row">
              <label for="password">Password : </label>
              <input type="password" name="password" placeholder="Password" style="border-radius: 3px;">
            </div>
            <div class="row">
              <button type="button" name="button">LOGIN</button>
            </div>
        </fieldset>
      </div>
    </div>

  </body>
</html>
