<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard| Manager</title>
    <link rel="stylesheet" href="/CSS/style.css">
  </head>
  <body>
    <div class="dashboard-menu">
      <ul>
        <li><a href="#">Register Agent</a></li>
        <li><a href="#">Select items</a></li>
        <li><a href="#">Records</a></li>
        <li><a href="#">Remove Stock</a></li>
      </ul>

    </div>
    <div class="dashboard-items">

    </div>
    <div class="register-agent">

      Registers all sales agents to use this system-(sales agents are
  identified with national ids and employee id)
    </div>
    <div class="">
      Selects items for this system. All items in this programme, will be
      listed for the the world to see.(physically these items should be
      labeled with LTPP).
    </div>
    <div class="">
        Access all records about all the transaction
    </div>
    <div class="">
        Remove out of stock items from the display
    </div>




  </body>
</html>
