extends layout

  h1 Explore the wide variety of products that we have 
  
  p
    div 
    h2.featured-products-title Featured Products
    section.featured-products
      .featured-product-item
        .featured-product-item-image(style="background-image:url('image/');")
        p.title
          | chair
        p.description
          | wodden in size
        p.price
          | shs. 10000
        button
          | View item
      .featured-product-item
        .featured-product-item-image(style="background-image:url('image/');")
        p.title
          | chair
        p.description
          | wodden in size
        p.price
          | shs. 10000
        button
          | View item
      .featured-product-item
        .featured-product-item-image(style="background-image:url('image/');")
        p.title
          | chair
        p.description
          | wodden in size
        p.price
          | shs. 10000
        button
          | View item
      .featured-product-item
        .featured-product-item-image(style="background-image:url('image/');")
        p.title
          | chair
        p.description
          | wodden in size
        p.price
          | shs. 10000
        button
          | View item
      .featured-product-item
        .featured-product-item-image(style="background-image:url('image/');")
        p.title
          | chair
        p.description
          | wodden in size
        p.price
          | shs. 10000
        button
          | View item
      .featured-product-item(style="background-image: url('image/');")
        .featured-product-item-image
        p.title
          | chair
        p.description
          | wodden in size
        p.price
          | shs. 10000
        button
          | View item
